@model IEnumerable<FinalG3FoodOrderingSystem.Models.Food>

@{
    ViewBag.Title = "Food Menu";
}
@{
    var id = Request.Url.Segments.Last();
}
<h2>Display Food Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

        </tr>
    }

</table>
<BR> @Html.ActionLink("Place Orders", "Create", "Orders")<br>
@Html.ActionLink("Show my orders", "DisplayCustomerOrder","Orders", new { id = id }) |


