@model IEnumerable<FinalG3FoodOrderingSystem.Models.Order>
@{
    ViewBag.Title = "DisplayCustomerOrder";
}
@using System.Configuration;
<h2>DisplayCustomerOrder</h2>

@{
    ViewBag.Title = "Your orders made";
}

<h2>Order Details</h2>
<p>
    @Html.ActionLink("Add New Order", "Create", "Orders")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <form method="post" action="@ConfigurationManager.AppSettings["PayPalSubmitUrl"]">
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["returnurl"]" />
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["PayPalUsername"]" />

                    <!--Item 1-->
                    <input type="hidden" name="item_name_1" value="@item.Food.FoodName" />
                    <input type="hidden" name="item_number_1" value="@item.Food.Price">
                    <input type="hidden" name="amount_1" value="@item.TotalPrice">
                    <input type="hidden" name="quantity_1" value="@item.Quantity">


                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />

                </form>
            </td>
        </tr>
    }

</table>
