@model FinalG3FoodOrderingSystem.Models.Shop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shop Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Edit Event", "Index","EditCalendar") |
    @Html.ActionLink("Back to List", "Index")

</p>
